.swiper {
  .swiper-button-prev, .swiper-button-next {
    color: #000 !important;
  }

  .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
  }

  .swiper-pagination-bullet-active {
      background: white !important;
  }
}

